*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Apply styles to the body element to cover the entire page */
  margin: 0; /* Remove default margin */
  padding: 50px; /* Set equal padding on all sides */
  height: 100vh; /* Set height to 100% of viewport height */
  background-image: url('bg.webp'); /* Specify background image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}


.wrapper{
  max-width: 1440px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-form{
  width: 400px;
  height: auto;
  margin: 20px auto;
}

.input-and-btn{
  display: flex;
}

.todo-box{
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo-box .content{
  display: flex;
}

.todo-box .content p{
  margin-top: -6px;
  margin-left: 6px;
}

.todo-box span{
  margin: 0 5px;
}

.delete-all{
  width: 400px;
}

.actions-box{
  cursor: pointer;
}

.back-btn{
  margin-top: 5px;
  width: 100%;
}

